<!-- Explore header.--> 
<div class="list"><%= image_tag "map_icon.png"%><label>Explore Feeds</label></div>

<!-- Explore amenities page goes here.-->   
<div class="map"></div>
<div class="cat" id="category_scroller1">
	<ul>
		<a href="#"><li><%= image_tag "category/news.png", :height => "32", :width => "32"%> Hot News</li></a>                            
		<a href="#"><li><%= image_tag "category/education.png", :height => "32", :width => "32"%> Shop</li></a> 
		<a href="#"><li><%= image_tag "category/sports.png", :height => "32", :width => "32"%> Food</li></a> 
		<a href="#"><li><%= image_tag "category/atm.png", :height => "32", :width => "32"%> Traffic</li></a> 
		<a href="#"><li><%= image_tag "category/office.png", :height => "32", :width => "32"%> Hospital</li></a> 
		<a href="#"><li><%= image_tag "category/religion.png", :height => "32", :width => "32"%> Sports</li></a> 
		<a href="#"><li><%= image_tag "category/restaurant.png", :height => "32", :width => "32"%> Travel</li></a> 
		<a href="#"><li><%= image_tag "category/travel.png", :height => "32", :width => "32"%> Religion </li></a> 
		<a href="#"><li><%= image_tag "category/telecom.png", :height => "32", :width => "32"%> Offices</li></a> 
		<a href="#"><li><%= image_tag "category/tourism.png", :height => "32", :width => "32"%> ATMs</li></a> 
		<a href="#"><li><%= image_tag "category/bank.png", :height => "32", :width => "32"%> Banks</li></a> 
		<a href="#"><li><%= image_tag "category/hospital.png", :height => "32", :width => "32"%> Tourism </li></a> 
		<a href="#"><li><%= image_tag "category/shop.png", :height => "32", :width => "32"%> Telecom</li></a> 
		<a href="#"><li><%= image_tag "category/traffic.png", :height => "32", :width => "32"%> Education</li></a> 
		<a href="#"><li><%= image_tag "category/internet.png", :height => "32", :width => "32"%> Education</li></a> 
		<a href="#"><li><%= image_tag "category/misc.png", :height => "32", :width => "32"%> Education</li></a> 
	</ul>
</div>
 